{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Welcome on index page</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav text-right">
        {% if curr_user %}
        <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
        {% if curr_user == false %}
        <p>You not logged in. Please Login <a href="/signin">Login</a></p>
        {% endif %}
    </ul>
</nav>
{% endblock %}