{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<h1>Please Login</h1>
<p>
<form action="/login" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit" name="submit" value="Login">
</form>
</p>
{% endblock %}