{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block body %}
{% if session == false %}
<p>You not have permission. Please Login <a href="/signin">Login</a></p>
{% else %}
<h1>Posts</h1>
<p>Hello from JSON API URL</p>
<table border="black solid 1px " cellspacing="0px" cellpadding="5px">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>BODY</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}