<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
<h1>Page not found</h1>
<p>Sorry, that page doesn't exist.</p>
{% endblock %}
</body>
</html>