<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul><a href="/">Home</a>
    </ul>
</nav>
{% block body %}
{% endblock %}
</body>
</html>